{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "printWidth": 88,
    "objectWrap": "collapse",
    "bracketSameLine": true,
    "singleAttributePerLine": true
}
